#about {
    height: 300px;
    background-color: rgb(56, 56, 56);
    color: white;
}

@media screen and (max-width: 774px){
    #about {
        height: 350px;
    }
}
@media screen and (max-width: 602px){
    #about {
        height: 400px;
    }
}
@media screen and (max-width: 532px){
    #about {
        height: 450px;
    }
}