#footer {
    background-color: rgb(170, 170, 170);
    height: 750px;
    padding: 100px;
    margin-bottom: 0px;
}

#footer-bottom {
    margin-top: 90px;
    text-align: center;
}

@media screen and (max-width: 992px){
    #footer {
        height: 900px;
    }
}

@media screen and (max-width: 620px){
    #footer {
        height: 1000px;
    }
}

@media screen and (max-width: 600px){
    #footer {
        height: 1500px;
    }
}

@media screen and (max-width: 554px){
    #footer {
        height: 1600px;
    }
}

@media screen and (max-width: 448px){
    #footer {
        height: 1700px;
    }
}

@media screen and (max-width: 442px){
    #footer {
        height: 1800px;
    }
}