#splash {
    color: white;
    background-image: url('../images/profile-picture.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 140vh;
    padding: 40px;
    margin-bottom: 0px;
    text-align: center;
}