#splash {
    color: white;
    background-image: url('../images/profile-picture.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 140vh;
    // padding: 40px;
    background-color: rgb(170, 170, 170);
    margin-bottom: 0px;
    text-align: center;
    color: #4fc3f7;
}

@media screen and (max-width: 1600px){
    #splash {
        height: 130vh;
    }
}
@media screen and (max-width: 1500px){
    #splash {
        height: 120vh;
    }
}
@media screen and (max-width: 1400px){
    #splash {
        height: 115vh;
    }
}
@media screen and (max-width: 1300px){
    #splash {
        height: 110vh;
    }
}
// @media screen and (max-width: 1267px){
//     #splash {
//         height: 110vh;
//     }
// }
@media screen and (max-width: 1200px){
    #splash {
        height: 100vh;
    }
}

@media screen and (max-width: 992px){
    #splash {
        height: 140vh;
    }
}

@media screen and (max-width: 1429px){
    .feature{
        // left: 80px;
    }
}

.feature {
    // margin-top: 75px;
}


@media screen and (max-width: 992px){
    .feature{
        color: black;
        margin-top: 600px;
    }
}
@media screen and (max-width: 900px){
    .feature{
        color: black;
        margin-top: 550px;
    }
}

@media screen and (max-width: 800px){
    .feature{
        color: black;
        margin-top: 500px;
    }
}
@media screen and (max-width: 700px){
    .feature{
        color: black;
        margin-top: 350px;
    }
}
@media screen and (max-width: 600px){
    .feature{
        color: black;
        margin-top: 300px;
    }
}
@media screen and (max-width: 500px){
    .feature{
        color: black;
        margin-top: 300px;
    }
}