#splash {
    color: white;
    background-image: url('../images/profile-picture.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 140vh;
    // padding: 40px;
    background-color: rgb(170, 170, 170);
    margin-bottom: 0px;
    text-align: center;
    color: #4fc3f7;
}

@media screen and (max-width: 1600px){
    #splash {
        height: 130vh;
    }
}
@media screen and (max-width: 1500px){
    #splash {
        height: 120vh;
    }
}
@media screen and (max-width: 1400px){
    #splash {
        height: 110vh;
    }
}
@media screen and (max-width: 1300px){
    #splash {
        height: 100vh;
    }
}
@media screen and (max-width: 1200px){
    #splash {
        height: 90vh;
    }
}
@media screen and (max-width: 992px){
    #splash {
        height: 140vh;
    }
}

#splash img {
    width: 70%;
}

@media screen and (max-width: 1429px){
    #splash img {
        width: 60%;
    }
    .feature{
        left: 100px;
    }
}

@media screen and (max-width: 1300px){
    #splash img {
        width: 50%;
    }
}


.feature {
    margin-top: 75px;
}

// @media screen and (max-width: 1040px){
//     .feature{
//         margin-top: 80px;
//     }
// }

@media screen and (max-width: 992px){
    .feature{
        color: black;
        margin-top: 700px;
    }
}