nav
	.nav-wrapper.blue.darken-4.hide-on-med-and-down
		a(href="/" class="brand-logo ") Chris Malloy - Software Engineer
		ul(id="nav-mobile" class="right hide-on-med-and-down")
			li
				a(href="/images/chris-malloy-resume-main.pdf") Resume 
			//- li
			//- 	a(href="/") About
	.nav-wrapper.blue.darken-4.show-on-medium-and-down.hide-on-med-and-up
		a(href="/" class="brand-logo ") Chris Malloy - SE
		a(href="/" data-activates="mobile-demo" class="button-collapse")
			i(class="material-icons") menu
		ul(id="nav-mobile" class="right hide-on-med-and-down")
			li
				a(href="/images/chris-malloy-resume-main.pdf") Resume 
			//- li
			//- 	a(href="/") About
		ul(class="side-nav", id="mobile-demo")
			li
				a(href="/images/chris-malloy-resume-main.pdf") Resume 