#splash {
  color: white;
  background-image: url("../images/profile-picture.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 140vh;
  background-color: #aaaaaa;
  margin-bottom: 0px;
  text-align: center;
  color: #4fc3f7; }

@media screen and (max-width: 1600px) {
  #splash {
    height: 130vh; } }
@media screen and (max-width: 1500px) {
  #splash {
    height: 120vh; } }
@media screen and (max-width: 1400px) {
  #splash {
    height: 115vh; } }
@media screen and (max-width: 1300px) {
  #splash {
    height: 110vh; } }
@media screen and (max-width: 1200px) {
  #splash {
    height: 100vh; } }
@media screen and (max-width: 992px) {
  #splash {
    height: 140vh; } }
@media screen and (max-width: 992px) {
  .feature {
    color: black;
    margin-top: 600px; } }
@media screen and (max-width: 900px) {
  .feature {
    color: black;
    margin-top: 550px; } }
@media screen and (max-width: 800px) {
  .feature {
    color: black;
    margin-top: 500px; } }
@media screen and (max-width: 700px) {
  .feature {
    color: black;
    margin-top: 350px; } }
@media screen and (max-width: 600px) {
  .feature {
    color: black;
    margin-top: 300px; } }
@media screen and (max-width: 500px) {
  .feature {
    color: black;
    margin-top: 300px; } }
#projects {
  background-color: #aaaaaa;
  padding: 50px;
  height: 600px; }

@media screen and (max-width: 600px) {
  #projects {
    height: 800px; } }
@media screen and (min-width: 1400px) {
  #projects {
    height: 650px; } }
.project {
  height: 400px !important; }

#about {
  height: 300px;
  background-color: #383838;
  color: white; }

@media screen and (max-width: 774px) {
  #about {
    height: 350px; } }
@media screen and (max-width: 602px) {
  #about {
    height: 400px; } }
@media screen and (max-width: 532px) {
  #about {
    height: 450px; } }
#footer {
  background-color: #aaaaaa;
  height: 750px;
  padding: 100px;
  margin-bottom: 0px; }

#footer-bottom {
  margin-top: 100px;
  text-align: center; }

@media screen and (max-width: 992px) {
  #footer {
    height: 900px; } }
@media screen and (max-width: 620px) {
  #footer {
    height: 1000px; } }
@media screen and (max-width: 600px) {
  #footer {
    height: 1500px; } }
@media screen and (max-width: 554px) {
  #footer {
    height: 1600px; } }
@media screen and (max-width: 448px) {
  #footer {
    height: 1700px; } }
@media screen and (max-width: 442px) {
  #footer {
    height: 1800px; } }
#contact-form-wrapper {
  margin-top: 150px;
  padding: 50px;
  background-color: #dfdfdf; }

/* label focus color */
.input-field input:focus + label {
  color: #0d47a1 !important; }

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important; }

/* textarea focus color */
.input-field textarea:focus + label {
  color: #0d47a1 !important; }

/* textarea underline focus color */
.row .input-field textarea:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important; }

input[type=text].valid:not(.browser-default) {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important; }

img {
  height: 100%; }

.inlineblock {
  display: inline-block; }

.center {
  margin: auto; }

nav .brand-logo {
  padding-left: 20px; }

.padding {
  padding: 100px; }

.small {
  height: 100px; }

#loading {
  height: 100vh; }

.row p {
  font-size: 30px; }

.logo {
  height: 110px;
  padding: 10px !important; }

.logo img {
  height: 100%; }

.test {
  border: 2px solid black;
  height: 400px; }

/*# sourceMappingURL=style.css.map */
